<style>
 div a { float:right; }
</style>

<body>
	<h1 align="center">주문이 완료되었습니다.</h1>
	<hr>
		<div class="row">
			<div class="col-md-3" align="center">
			<a href="#">
				<img src="img.png">
			</a>
			</div>
			<div class="col-md-9">
			<ul style="float:left; list-style:none;">
				<li><h3>사과 5kg</h3></li>
				<li>1 개</li>
				<li>16570 원</li>
			</ul>
				<a class="btn btn-primary" href="#">주문 취소</a>
			</div>
		</div>
		<br><hr>
		<div class="row">
			<div class="col-md-3" align="center">
			<a href="#">
				<img src="img.png">
			</a>
			</div>
			<div class="col-md-9">
			<ul style="float:left; list-style:none;">
				<li><h3>오렌지 2kg</h3></li>
				<li>2 개</li>
				<li>29600 원</li>
			</ul>
				<a class="btn btn-primary" href="#">주문 취소</a>
			</div>
		</div>
		<br><hr>
		<div class="row">
			<div class="col-md-3" align="center">
			<a href="#">
				<img src="img.png">
			</a>
			</div>
			<div class="col-md-9">
			<ul style="float:left; list-style:none;">
				<li><h3>사과 5kg</h3></li>
				<li>2 개</li>
				<li>33140 원</li>
			</ul>
				<a class="btn btn-primary" href="#">주문 취소</a>
			</div>
		</div>
		<br><hr>
	<br>
	<label><h3>합계 : {{}}원 </h3></label>
	<div align="center">
		<a class="btn btn-primary" href="/orderlist">구매 내역</a>
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		<a class="btn btn-primary" href="/main">돌아가기</a>
	</div>