<style>
</style>

<h1 class="my-4">냠냠 과일 파티
		<small>상품 상세</small>
	</h1>

		  <hr>

      <div class="row">
        <div class="col-md-3" align="center">
            <img ng-src="{{productImg}}" />
        </div>
        <div class="col-md-9">
          <h3>{{product.productName}} </h3> <h3>가격 : {{product.price}} </h3>
          <p>{{product.productName}}는 너무 맛있어서 집에 가고 싶어했어요. 당신의 집에☆ <br> 뭐야 이 {{product.productName}}가 왜 저희 집에 있어요 우리 집 열쇠 돌려줘요</p>
		  <label> 주문 개수 :  </label>	 
		  <select name = "sort">
					<option value=""> - </option>
    				<option value="1">1</option>
    				<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
    				<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
    				<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select> 
			<br><br>
		  <a class="btn btn-primary" href="/order">바로 구매</a>
		  <a class="btn btn-primary" href="/carts">장바구니</a>
        </div>
      </div>

      <hr>
	<div style="float:clear">

		<a class="btn btn-primary" href="/main">돌아가기</a>
		
	</div>
	<br>